* {
  border-size: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #fafaf9;
  --text: #0f172a;
  --border: #c6c9ce;
  --text-button: #000000;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;
  font-size: 1.1rem;
  color: var(--text);
  line-height: 1.7;
  background: var(--bg);
  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.8;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #fff;
    background-image: url("imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.linguboost-header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  border: 5px solid var(--border);
  background: var(--primary);
  color: var(--text-button);
}

@media (max-width: 768px) {
  .linguboost-header {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border);
  }
}

@media (prefers-color-scheme: dark) {
  .linguboost-header {
    background: #222;
    color: white;
    border: 1px solid #ffffff;
  }
}

.hero-section {
  //width: 360px;
  max-width: 450px;
  padding: 17px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero-section {
    max-width: 500px;
    padding: 20px;
    margin-bottom: 30px;
  }
}

.btn-start {
  width: 70px;
  background: #2563eb;
  color: #fff;
}

.btn-start:hover {
  background: #1d4ed8;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .btn-start {
    background: #444;
  }
  .btn-start:hover {
    background: #111;
  }
}

.card {
  //background: rgba(255, 255, 255, 0.08);
  background-filter: blur(14px);
  //border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  padding: 10px 10px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  line-height: 2;
  display: none;
}

@media (max-width: 768px) {
  .card {
    margin: 10px;
  }
}

.btn-next {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 70px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  background: #e2e8f0;
  color: #0f172a;
  border: none;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}

@media (max-width: 768px) {
  .btn-next {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 1.2rem;
    width: 77px;
  }
}

.btn-next:hover {
  background: #6669f3;
  color: #fff;
  transform: translateX(-4px);
}

.btn-next:active {
  transform: translateY(0);
}

@media (prefers-color-scheme: dark) {
  .btn-next {
    background: #555;
    color: #ffffff;
  }
  .btn-next:hover {
    background: #222;
  }
}

.field {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 13px;
}

input {
  background: #e2e8f0;
  width: 220px;
  padding: 6px;
  border: 1px solid var(--border);
  border-radius: 10px;
  outline: none;
  border: none;
}

@media (max-width: 768px) {
  input {
    padding: 4px;
  }
}

input:focus {
  border-color: #bfcfe3;
  box-shadow: 0 0 0 5px rgba(68, 5, 68, 0.15);
}

@media (prefers-color-scheme: dark) {
  input {
    background: #666;
  }
}

button {
  margin-top: 15px;
  padding: 12px;
  background: #d2dbe6;
  color: var(--text-button);
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
}

button:hover {
  background: #267fec;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  button {
    background: #555;
    color: #fff;
  }
  button:hover {
    background: #111;
  }
}

#dashboard {
  display: none;
}

.grid-container {
  padding: 30px;
}

@media (max-width: 768px) {
  .grid-container {
    padding: 70px;
  }
}

.grid-item {
  color: #000000;
  background-color: #fcfce6;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.4s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

@media (max-width: 768px) {
  .grid-item {
    padding: 15px;
  }
}

.grid-item:hover {
  background-color: #f5efe4;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .grid-item {
    padding: 15px;
    background-color: #555;
    color: #ffffff;
  }
  .grid-item:hover {
    background-color: #444;
    color: #fff;
  }
}

#practice-menu {
  display: none;
}

.grid-exercises {
  color: #000000;
  background-color: #f8f8d7;
  padding: 18px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .grid-exercises {
    padding: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
}

.grid-exercises:hover {
  background-color: #d8d8ba;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  .grid-exercises {
    background-color: #444;
    color: #ffffff;
  }
  .grid-exercises:hover {
    background-color: #222;
    color: #fff;
  }
}

.linguboost-footer {
  margin-top: 15px;
  padding: 10px 120px;
}

@media (max-width: 768px) {
  .linguboost-footer {
    margin-top: 10px;
    padding: 5px 65px;
  }
}
